.footer__span {
  font-size: small;
}

.footer__span__sm {
  font-size: smaller;
}

.footer__ul {
  list-style-type: none;
  margin-left: -7%;
}

.footer__ul > li {
  margin: 0;
  line-height: 1em;
}

.footer__left {
  margin-left: -7%;
}

.footer__text {
  color: rgb(153, 153, 153);
  font-weight: 500;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  border-bottom: 1px solid white;
}

.footer__ul:hover {
  text-decoration: underline white;
}
